<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Kendo UI MVC Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1&mkt=en-gb"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Scripts/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>
</head>
<body>
    <header>
        @Html.Partial("_LayoutHeader")
        <div class="container">
            <div class="row">
                <div class="headr" style="font-size:large;padding-bottom:10px;">
                    <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("HomeDocDB", "Home")'">
                        <span>
                            <img src="~/Images/home.png" style="width: 2%;" />
                        </span>
                        @*<span style="height:20px;color:black; background-color:#000"> |</span>*@
                    </a>                   
                    <p style="display:inline;vertical-align:middle;">
                        <span class="ScenarioGaming">|  Scenario:</span>
                        <span><img src="~/Images/joystick.png" id="blueGameIcon" /></span>
                        Gaming<span class="glyphicon glyphicon-chevron-down"></span>
                    </p>
                </div>
                @*<h2 style="width:1px;height:20px;background-color:#000"> Scenario:</h2>*@
            </div>
            <nav class="navbar navbar-light bg-faded">
                <ul class="nav nav-pills">
                    <li class="nav-item @(ViewBag.Title == "Introduction" ? "active" : "")">
                        <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("Introduction", "Home")'">Introduction</a>
                    </li>
                    <li class="nav-item @(ViewBag.Title == "Index" ? "active" : "")">
                        <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("Index", "Home")'">Massive scale writes</a>
                    </li>
                    <li class="nav-item @(ViewBag.Title == "RealTimeQuery" ? "active" : "")">
                        <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("RealTimeQuery", "Home")'">Real Time Query</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    @Html.Partial("_LayoutFooter")
</body>
</html>
