<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Kendo UI MVC Application</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.607/styles/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.607/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    @*<script src="~/Scripts/JsChart.js"></script>*@
</head>
<body>
    <header>
        @Html.Partial("_LayoutHeader")
        <div class="container">
            <div class="row">
                <h2 class="headr">
                    <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("HomeDocDB", "Home")'"><span><img src="~/Images/home.png" style="width: 4%;" /></span></a>
                    <strong class="ScenarioGaming">| Scenario:</strong><span>@*<img src="~/Images/game_blue.svg" id="blueGameIcon" />*@</span>Gaming<span class="glyphicon glyphicon-chevron-down"></span>
                </h2>
            </div>

            <nav class="navbar navbar-light bg-faded">
                <ul class="nav nav-pills">
                    <li class="nav-item @(ViewBag.Title == "Introduction" ? "active" : "")">
                        <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("Introduction", "Home")'">Introduction</a>
                    </li>
                    <li class="nav-item @(ViewBag.Title == "Index" ? "active" : "")">
                        <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("Index", "Home")'">Massive scale writes</a>
                    </li>
                    <li class="nav-item @(ViewBag.Title == "RealTimeQuery" ? "active" : "")">
                        <a class="nav-link" type="button" href="#" onclick="location.href = '@Url.Action("RealTimeQuery", "Home")'">Real Time Query</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    @Html.Partial("_LayoutFooter")
</body>
</html>
